
body {
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	background-color: #0e0e0f;
}


/* Header, башка  */
.header {
    width: 100%;
    height: 60px;

    background-color: rgba(0, 0, 0, 0);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

/* Nav, я в душе не чаю что это, я это украл из кода мишы */
.nav {
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    
    display: flex;
    justify-content: center;
    height: 100%;
}

.nav__link {
    display: flex;
    align-items: center;
    padding: 0 20px;

    color: #fff;
    text-decoration: none;
}


/*гребанный градиент, как же я его ненавижу*/

.grad1ent {
	position: absolute;
	top: 100;
	left: 100;
	z-index: 100;
}


#pfp {
	width: 100px;
	height: 100px;
	display: block;
    margin: 8px auto 13px;
    border-radius: 8px;
    margin-bottom: 5px;
}

/*Фон*/

.video_media {
	width: 100%;
	height: auto;
	filter: brightness(100%);

	position: relative;
	top: 0;
	left: 0;
	z-index: 10;
}
	  
/*шо це такое*/
    
 .ya {
	max-width: 650px;
    margin: auto;
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -50%);

 }

 #Name {
 color: #F99417;
 font-size: 36px;
 font-weight: 700;
 display: block;
 font-family: 'Raleway', sans-serif;
 width: 100%;
 text-align: center;
 margin-top: 5px;
 }

#About {

	text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    display: block;
	line-height: 1.25;
margin-top: 5px;
 font-family: 'Raleway', sans-serif;
 width: 100%;
}

 #links {
	color: white;
	font-size: 1rem;
	font-weight: 600;
	line-height: 1.25;
	font-family: var(--font);
	width: 100%;
	text-align: center;
	text-decoration: none;
	max-width: 525px;
}





 #otherr {
	color: white;
	font-size: 1rem;
	font-weight: 600;
	line-height: 1.25;
	display: block;
	font-family: var(--font);
	width: 100%;
	text-align: center;
	text-decoration: none;
	max-width: 525px;
}


/*Пнльки Тска...*/

#links {
	max-width: 500px;
	width: auto;
	display: block;
	margin: 27px auto;
}

@media only screen and (max-width: 700px) {
	#links {
		margin-left: 3%;
		margin-right: 3%;
	}
    .night_mode {
		margin-right: 40%;
	}
}

.h1-text {
 display: block;
 margin-top: 25px;
 margin-bottom: 25px;
 text-align: left;
 color: White;
 
}

.link {
	display: flex;
	background-color: #ffffff;
	color: rgb(0, 0, 0);
	font-family: var(--font);
	text-align: -webkit-left;
	/* margin-bottom: 28px; */
	line-height: 1.76;
	/* padding: 17px; */
	text-decoration: none;
	font-size: 25px;
	font-weight: bold;
	transition: all 0.15s;
	box-shadow: 0px 6px #333333;
	padding: 13px 8px;
	margin: 13px 17px;
	border-radius: 10px;
}

.link:hover {
	/* background: #019489; */
	box-shadow: 0px 8px #414040;
	transform: translateY(-2px);
}

.link:active {
	transform: translateY(6px);
	box-shadow: 0px 0px #007569;
}

.logo {
    position: static;
    display: block;
    margin-top: 0px;
    margin-left: 5px;
    transition: all 0.15s ease;
    opacity: 100%;
}

.logo {
    position: static;
    display: block;
    margin-top: 0px;
    margin-left: 5px;
    transition: all 0.15s ease;
    opacity: 100%;
}

.logo1 {
    position: static;
    display: block;
    margin-top: 0px;
    margin-left: 5px;
    transition: all 0.15s ease;
    opacity: 100%;
}

.list {
	padding-left: 727px;
	color: #7e7e7e;
}

ul {
	display: block;
	list-style-type: disc;
	margin-block-start: 1.3em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 40px;
}

.link-other {


	color: white;
}


#linksbutton {
    width: auto;
    text-align: center;
    margin: 7px auto 20px auto;
}

.links {
    display: inline-block;
    background-color: #ffff;
    /* margin-bottom: 10px; */
    padding: 2px 15px;
    transition: all .25s cubic-bezier(.08, .59, .29, .99);
    border: solid #272727 2px;
    color: #000000;
    font-family: var(--font);
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    border: solid #272727 2px;
}

.footer {
	display: flex;
	height: 50px;
	color: white;
	
  }
  
  .footer .copyright {
	align-self: center;
	margin: 0 auto;
	text-decoration: none;
	color: white;
  }